.productbox {
  margin: 20px;
  margin-bottom: 15px;
  width: 210px;
  /* border: black solid 2px; */
  /* border-radius: 10px; */
  background-color: rgb(252, 252, 252);
  height: 260px;
  font-size: 15px;
  text-align: center;
}

.pimage {
  margin-top: 10px;
}
.des {
  margin-left: 10px;
  text-align: left;
  margin-bottom: -10px;
  max-width: 200px;
}
.myheart {
  padding-top: 15px;
}
