.wrap{
    display: flex;
}
.info{
    display:flex;
    flex-direction: column;
}
.row1{
    display:flex;
}
.row2{
    display:flex;
}
.row3{
    display: flex;
}
.whole{
    display:flex;
    flex-direction: column;
}
#a{
  background-color: greenyellow;  
}
#b{
    background-color: grey;
}
.images{
    display: flex;
}