#pc {
  margin-left: 4vw;
  margin-right: auto;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}
.eco1 {
  border: 0.5vw solid rgb(85, 141, 85);
}
/* .eco1{
    border : 6px solid #87ec7c1a;
} */
.eco0 {
  border: 0.5vw solid #4d4d4d;
}
.eco2 {
  border: 0.5vw solid #2d9b5d;
}
.eco3 {
  border: 0.5vw solid #97c592;
}
.companion_gif1 {
  width: 95%;
  height: auto;
  /* margin-left: 50%; */
}
.pcandimg {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 100%;
}
.pcandimg > *:first-child {
  width: 100%;
  /* align-self: stretch; */
}
.pcandimg > *:nth-child(2) {
  /* position : absolute; */
  width: 20%;
  /* display: flex; */
  /* height: 100%; */
  text-align: center;
}
.pcandimg .selected {
  align-self: center;
}

#cprofile {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  /* border-radius: 10px; */

  font-size: 1vw;
}
#cprofile.p {
  width: 100%;
}

#ccontainer {
  position: fixed;
  width: 100%;

  margin: auto;
}
.kk {
  margin-bottom: 30px;
}
.kkk {
  margin-bottom: 30px;
  font-size: 40px;
}
.imgg {
  overflow: hidden;
}
